<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Driver={SQL Server};Server=.\SQLEXPRESS;Database=Kassa24;Trusted_Connection=yes;MultipleActiveResultSets=True"
        providerName="System.Data.Odbc"/>
  </connectionStrings>
</configuration>